* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 60px 4%;
    align-items: center;

}

header.scroll{
    background-image: linear-gradient(to top left,#0001,#000);
    padding: 10px 4%;
    border-radius: 20px
}

header img{
    max-width: 100%;
    height: 30px;
    transition: ease-in-out;
}

header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}


.topo{
    background-image: url(agua.gif);
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    border-image: fill 0 linear-gradient(#0001,#000);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topo img{
    max-width: 100%;
    height: 30%;
    
}



.sobre{
    width: 100%;
    padding: 60px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/*teste do form----------------------------------------------------------------------------------*/
.sobre img{
    filter: drop-shadow(0 0 20px #fff);
}

.sobre p{
    width: 100%;
    padding: 60px 4%;
    color: #fff;
    text-align: justify;
    flex-wrap: wrap;
}

.sobre a{
    color: #fff;
    text-decoration: none;

}

.sobre .a1{
    color: #a0cddb;
    filter: drop-shadow(0 0 2px #06789b);
}

.contato{
    background-image: linear-gradient(to top right,#041a29,#000);
    height: 400px;
}


section.formulario{
    padding: 180px 4%;
}

.formulario{
    align-items: center;
    height: 600px;
    background-image: linear-gradient(to top right,#041a29,#000);
    display: flex;
    justify-content: space-evenly;
    }

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;    

}

form input, form textarea{
    width: 100%;
    background-color:#56565888;
    border: 0;
    outline: 0;
    padding: 30px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}




form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    width: 40%;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;

}

form div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 4px;
    transform: scale(1.05);
}

.interface{
    width: 50%;
    color: #fff;
    text-align: center;
}

.interface h1{
    height: 70px;
}

.interface #nome, #email{
    height: 50px;
}

.interface #mensagem{
    height: 200px;
}

.caixaproj{
    background-color: #1e1f21;
    display: flex;
    justify-content: space-evenly;
}

.nproj{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e1f21;
    color: #b7b7b7;
}
/*teste do form----------------------------------------------------------------------------------*/







.jobs{
    /*background-image: linear-gradient(to top left,#000,#041a29);*/
    width: 100%;
    padding: 60px 4%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.trabalho{
    margin-top: 20px;
    /*background-image: linear-gradient(to top right,#06151f,#2b464c);   
    height: 650px;
    text-align: justify;*/
    max-width: 100%;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: relative;
    /*background-color: #00c0fa;*/
    background-image: linear-gradient(to top right,#03355760,#03516367);
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0 0 0 0.15);
    transition: 0.5s;

}

.trabalho:hover {
    height: 400px;
}

.trabalho .img-box {
    position: absolute;
    width: 250px;
    height: auto;
    top: 0px;
    transition: 0.5s;   
}

.trabalho:hover .img-box{
    top: -100px;
    scale: 0.75;
}

.trabalho .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trabalho .content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
    color: #fff;
}

.trabalho:hover .content{
    top: 130px;
    height: 250px;
}


.casesobre{
    background-image: linear-gradient(to top right,#041a29,#000);
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 10px #fff;

}

.casejobs{
    background-image: linear-gradient(to top left,#000,#041a29);
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 10px #fff;
    
}


.rodape{
    background-image: linear-gradient(to top right,#0a3857,#000);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    max-width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.rodape img{
    height: 30px;
    max-width: 100%;
}

.rodape1{
    height: auto;
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    align-items: center;

}


.rodape img:hover{
    filter: drop-shadow(0 0 4px #fff);
}

.interface{
    width: 100%;
}



    @media screen and (max-width: 850px){

        /*header*/

        header{
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            text-align: center;
        }

        header nav{
            text-align: center;
        }

        header nav a{
            /*display: none;*/
            display: flex;
            flex-direction: column;
            margin: 0 0 15px 0;
            text-align: center;
        }

        header.scroll{
            background-image: linear-gradient(to top left,#0001,#000);
            padding: 10px 4%;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            z-index: 10;
        }

        .sobre{
            flex-direction: column;
        }

        .topo img{
            max-width: 100%;
            height: 15%;

        }

        .trabalho .img-box {
            width: 150px;
            height: auto; 
        }

        .jobs{
            height: 160vh;
        }

        .formulario{
            height: 70vh;
            width: 100%;
        }

        h1{
            font-size: 22px;
        }

        

    }